---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getEntry, render } from "astro:content";
import { ClientRouter } from "astro:transitions";
import Talks from "../../layouts/Talks.astro";

const post = await getEntry("talks", "index");

if (!post) {
  throw new Error("Post not found");
}

const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
    <style>
      main {
        width: 960px;
      }
      .title {
        margin: 0;
        color: var(--text-light);
        line-height: 1;
      }
      
      @media (prefers-color-scheme: dark) {
        .title {
          color: var(--text-dark);
        }
      }
      
      .blog-post {
        color: var(--text-light);
      }
      
      @media (prefers-color-scheme: dark) {
        .blog-post {
          color: var(--text-dark);
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="blog-post">
        <Talks {...post.data}>
          <Content />
        </Talks>
      </div>
    </main>
    <Footer />
  </body>
</html>
