---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getEntry, render } from "astro:content";
import { ClientRouter } from "astro:transitions";
import Talks from "../../layouts/Talks.astro";

const post = await getEntry("talks", "index");

if (!post) {
  throw new Error("Post not found");
}

const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
    <style>
      main {
        width: 960px;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Talks {...post.data}>
        <Content />
      </Talks>
    </main>
    <Footer />
  </body>
</html>
