---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const blogposts = await getCollection("blog");
const database = (await getCollection("database")).map((post) => {
  //@ts-ignore # Currently it doesn't properly recognize the external property
  const coverImage: string | undefined = post.data.cover?.external?.url;
  return {
    ...post,
    data: {
      title: post.data.properties.Name,
      pubDate: post.data.properties.pubDate,
      description: "",
      heroImage: coverImage,
      tags: [],
    },
  };
});
const allPosts = [...blogposts, ...database];

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Header />
  <body>
    <main>
      <div class="tags">
        {
          tags.map((tag) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
