---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A bit about myself"
	date={new Date('Dec 22 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi! I'm José Cabeda a data engineer focused on improving data systems and educating on how to use them. I also do a lot of planning and read as much as I can.
	</p>
</Layout>
