---

---

<footer>
	<div class="social-links">
		<a href="https://mastodon.social/@jecabeda" target="_blank">
			<span class="sr-only">Follow me on Mastodon</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/mastodon"
				><path
					fill="currentColor"
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
				></path></svg
			>
		</a>
		<a href="https://github.com/cabeda" target="_blank">
			<span class="sr-only">Go to GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
		<a href="https://cabeda.dev/rss.xml" target="_blank">
			<span class="sr-only">Go to my RSS feed</span>
			<svg width="30" height="32" aria-hidden="true">
			  <g
				<path
				  fill="currentColor"
				  d="m19.6,31.99999c-6.57778,0 -13.08889,0 -19.6,0c0,-10.66666 0,-21.33332 0,-31.99999c10,0 20,0 30,0c0,10.66666 0,21.33332 0,31.99998c-3.44444,0 -6.88889,0 -10.4,0m7.38341,-1.69594c1.27011,-0.78283 1.92447,-1.95869 1.81217,-3.5187c-0.12193,-1.69392 -0.22199,-3.40472 -0.53158,-5.06575c-2.20459,-11.8281 -12.42657,-20.61609 -23.71711,-20.45049c-1.72083,0.02524 -3.24338,1.51802 -3.35256,3.28701c-0.12872,2.08551 1.10593,3.76775 2.97517,4.00279c0.94618,0.11897 1.90935,0.10505 2.84873,0.26133c6.20517,1.03233 10.63171,4.64484 13.35499,10.64066c1.05682,2.32678 1.53486,4.82233 1.53697,7.40806c0.00263,3.22019 2.9685,4.62857 5.07321,3.43508m-24.16971,-17.44592c-1.4254,1.10652 -1.94723,2.6118 -1.47735,4.26163c0.4373,1.53542 1.64859,2.44971 3.39219,2.54593c1.61691,0.08923 3.0765,0.60851 4.3285,1.73581c1.7243,1.55255 2.45849,3.56797 2.53095,5.93173c0.05863,1.91291 1.60137,3.40481 3.43464,3.39824c1.81555,-0.00651 3.36634,-1.54436 3.384,-3.45002c0.00915,-0.98732 -0.02401,-2.00223 -0.2246,-2.96023c-1.33455,-6.3737 -5.04216,-10.28503 -10.98959,-11.72945c-1.41158,-0.34282 -2.89345,-0.57092 -4.37873,0.26637m5.25987,14.11629c-0.01315,-0.11733 -0.02615,-0.23469 -0.03948,-0.352c-0.17622,-1.5517 -1.2639,-2.84331 -2.65524,-3.15315c-1.49232,-0.33233 -2.99143,0.37565 -3.74356,1.76793c-0.71905,1.33106 -0.57601,3.07352 0.38727,4.21685c0.99602,1.18221 2.25429,1.59495 3.6648,1.09619c1.51969,-0.53737 2.30141,-1.74799 2.38621,-3.57582z"
				></path>
				<path
				  fill="currentColor"
				  d="m26.93765,30.32787c-2.05896,1.16966 -5.02483,-0.23872 -5.02745,-3.4589c-0.00211,-2.58572 -0.48016,-5.08128 -1.53697,-7.40806c-2.72328,-5.99582 -7.14983,-9.60832 -13.35499,-10.64066c-0.93938,-0.15628 -1.90255,-0.14236 -2.84873,-0.26133c-1.86923,-0.23504 -3.10388,-1.91728 -2.97517,-4.00279c0.10918,-1.76899 1.63173,-3.26177 3.35256,-3.28701c11.29054,-0.1656 21.51251,8.62238 23.71711,20.45049c0.30959,1.66103 0.40965,3.37183 0.53158,5.06575c0.11229,1.56001 -0.54207,2.73587 -1.85793,3.54253z"
				></path>
				<path
				  fill="currentColor"
				  d="m2.85722,12.83113c1.44177,-0.81029 2.92363,-0.58219 4.33522,-0.23937c5.94743,1.44442 9.65504,5.35575 10.98959,11.72945c0.20059,0.958 0.23375,1.97291 0.2246,2.96023c-0.01765,1.90566 -1.56845,3.44351 -3.384,3.45002c-1.83328,0.00657 -3.37601,-1.48534 -3.43464,-3.39824c-0.07245,-2.36376 -0.80665,-4.37918 -2.53095,-5.93173c-1.252,-1.1273 -2.71158,-1.64658 -4.3285,-1.73581c-1.74359,-0.09622 -2.95489,-1.0105 -3.39219,-2.54593c-0.46988,-1.64982 0.05195,-3.15511 1.52086,-4.28862z"
				></path>
				<path
				  fill="currentColor"
				  d="m8.07373,27.03284c-0.08496,1.76941 -0.86668,2.98003 -2.38637,3.5174c-1.41051,0.49876 -2.66878,0.08601 -3.6648,-1.09619c-0.96328,-1.14333 -1.10632,-2.88579 -0.38727,-4.21685c0.75212,-1.39229 2.25124,-2.10026 3.74356,-1.76793c1.39134,0.30984 2.47902,1.60145 2.65524,3.15315c0.01332,0.11731 0.02632,0.23467 0.03963,0.41043z"
				></path>
			  </g>
			</svg>
		  </a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
