---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import MastodonIcon from "./icons/MastodonIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import RssIcon from "./icons/RssIcon.astro";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/talks">Talks</HeaderLink>
      <HeaderLink href="/reads">Reads</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://mastodon.social/@jecabeda" target="_blank">
        <span class="sr-only">Follow me on Mastodon</span>
        <MastodonIcon width={32} height={32} />
      </a>
      <a href="https://github.com/cabeda" target="_blank">
        <span class="sr-only">Go to my GitHub repo</span>
        <GitHubIcon width={32} height={32} />
      </a>
      <a href="https://cabeda.dev/rss.xml" target="_blank">
        <span class="sr-only">Go to my RSS feed</span>
        <RssIcon width={30} height={32} />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
